- var title = 'Que cor é agora?';
- var description = 'Quer saber que cor hexadecimal é agora? Seus problemas acabaram!';
- var url = 'http://quecoreagora.guilhermeesteves.com';
- var ge = 'Guilherme Esteves';
- var googleAnalytics = 'UA-43322450-4';

- var facebookImage = './images/redes-sociais.png';
- var facebookImageWidth = '563';
- var facebookImageHeight = '563';
- var facebookAdmin = '100001899591977';
- var facebookAppId = '237735486382852';

- var twitter = '@guilhermesteves';
- var twitterImage = facebookImage;

- var googlePlusImage = facebookImage;
//- Base template
//- All other templates should extend from this

//- [injector:jade]
//- [endinjector]

doctype html
<!--[if lte IE 8]><html class='lt-ie9 no-js' lang='en'><![endif]-->
<!--[if gt IE 8]><!--><html class=' no-js' lang='en'><!--<![endif]-->
head
  // ************************** Tags Padrão ************************** 
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(http-equiv='content-type', content='text/html; charset=utf-8')
  meta(http-equiv='Cache-control', content='public')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  title #{title}
  
  // ************************** Tags SEO ************************** 
  meta(name='robots' content='index, follow')
  meta(name='language' content='pt-br')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='description' content='#{description}')
  meta(name='keywords' content='que cor é agora, cor, horas')
  meta(name='distribution' content='Global')
  meta(name='rating' content='General')
  meta(name='robots' content='index, follow')
  meta(name='revisit-after' content='30 days')
  meta(name='creator' content='#{ge}')
  meta(name='publisher' content='#{ge}')
    
  // ************************** Tags Open Graph ************************** 
  meta(property='og:locale' content='pt_BR')
  meta(property='og:url' content='#{url}')
  meta(property='og:title' content='#{title}')
  meta(property='og:site_name' content='#{title}')
  meta(property='og:description' content='#{description}')
  meta(property='og:image' content='#{facebookImage}')
  meta(property='og:image:type' content='image/jpeg')
  meta(property='og:image:width' content='#{facebookImageWidth}')
  meta(property='og:image:height' content='#{facebookImageHeight}')
  meta(property='og:type' content='website')
  meta(property='fb:admins' content='#{facebookAdmin}')

  // ************************** Tags Twitter ************************** 
  meta(name='twitter:card' content='summary')
  meta(name='twitter:site' content='#{twitter}')
  meta(name='twitter:title' content='#{title}')
  meta(name='twitter:description' content='#{description}')
  meta(name='twitter:creator' content='#{twitter}')
  meta(name='twitter:image' content='#{twitterImage}')
  
  // build:css(client) styles/global.css
  // bower:css
  // endbower
  // endbuild

  link(rel='stylesheet', href='/styles/main.css')
  // build:js(client) scripts/modernizr.js
  script(src='/bower_components/modernizr/modernizr.js')
  // endbuild

  // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  // build:js(client) scripts/shims.js
  <!--[if lt IE 9]>
  script(src='/bower_components/consolelog/consolelog.js')
  script(src='/bower_components/html5shiv/dist/html5shiv-printshiv.js')
  <![endif]-->
  // endbuild
body

  // ************************** Scripts Redes Sociais **************************
  //-#fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = '//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId='+'#{facebookAppId}'+'&version=v2.0';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

  //-script
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  
  // ************************** Github Ribbon **************************
  a.github(href="https://github.com/guilhermesteves", target="_blank")
    img.github-ribbon(src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", alt="Fork me on GitHub")

  block layout
    block content
  // build:js(client) scripts/global.js
  // bower:js
  script(src='/bower_components/jquery/jquery.js')
  // endbower
  // endbuild

  // build:js(client) scripts/main.js
  // [injector:js]
  <script src="/scripts/css_browser_selector.js"></script>
  <script src="/scripts/formsubmit.js"></script>
  <script src="/scripts/jquery.sticky.js"></script>
  <script src="/scripts/script.js"></script>
  <script src="/scripts/smoothscrolling.js"></script>
  // [endinjector]
  script(src='/scripts/main.js')
  // endbuild
